@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Poppins", "Koulen", serif;
}
body{
    background-color: #f9f9f9;
}

:root{
    --primary-color: #13b0df;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.449);
    padding: 20px 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.Navbar .brand a{
    text-decoration: none;
    color: #333;
    font-weight: 800;
}

.nav-links{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: #333;
}
.Navbar .nav-links,
.Navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #333;
}
.Navbar .contact a{
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.Navbar .contact a:hover{
    background-color: #13b0df;
    color: #fff;
}
.Navbar .contact a:focus{
    outline: 1px solid #13b0df;
}
.Navbar .contact a:visited{
    outline: 1px solid #08536a;
}
.Navbar .contact a:active{
    outline: 1px solid #13b0df;
}
/* -------------------------------------------------------------------------------- */



main .hero-container{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 600px;
    /* background-color: #13b0df; */
    gap: 20px;

}
main .hero-container{
    padding: 0px 20px;
}

main .hero-container .hero-sidebar{
     display: flex;
     flex-direction: column;
}
main .hero-container .hero-sidebar .tabs{
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    writing-mode:sideways-lr;
}
main .hero-container .hero-sidebar .tabs a:nth-child(2){
    text-decoration-color: #13b0df;
    text-decoration-line: underline;
    text-underline-offset: 8px;
}
main .hero-container .hero-sidebar .tabs a{
    text-decoration: none;
    color: #333;
}
main .hero-container .hero-content{
    width: 90%;
    height: 100%;
    background-color: rgb(238, 238, 243);
    border-radius: 20px;
}
main .hero-container .hero-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ededed;
}
main .hero-container .hero-content .image-content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .hero-container .hero-content .image-content .image-content-wrapper {
    position: relative;
}
main .hero-container .hero-content .image-content .image-content-wrapper{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* -------------------------------------------------------------------------------- */

main .hero-container .hero-content .text-content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 120px;
}
main .hero-container .hero-content .image-content .image-content-wrapper{
    position: relative;
    padding: 44px 0px 44px 44px;
}

main .hero-container .hero-content .image-content .image-content-wrapper .box{
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(1){
    background-color: #f3f3f3;
    width: 300px;
    height: 160px;
    border-radius: 10px;
    padding: 10px;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(1) .profile{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: url("https://container-news.com/wp-content/uploads/2021/04/Picture-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(1) .header{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(1) .discript{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(1) .discript .star{
    color: rgb(226, 226, 0);
}

/* --------------------------------------------------------------------------------------------------- */
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(2){
    background-image: url("https://res.cloudinary.com/worldpackers/image/upload/c_limit,f_auto,q_auto,w_1140/yenjvumoqsdyqgdd2wli");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 215px;
    height: 340px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(2) .description{
    background-color: #edededb7;
    padding: 10px;
    border-radius: 12px;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(2) .description .rate{
    display: flex;
    gap: 100px;
    margin-top: 20px;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(2) .description .rate p .fa-star{
    color: rgb(227, 227, 0);
}


main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(3){
    background-image: url("https://www.shutterstock.com/image-photo/maldives-islands-ocean-tropical-beach-600nw-1938868960.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 25px;
    right: 20px;
    height: 320px;
    width: 255px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}


main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(3) .description{
    background-color: #edededb7;
    padding: 10px;
    border-radius: 12px;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(3) .description .rate{
    display: flex;
    gap: 110px;
    margin-top: 20px;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(3) .description .rate p .fa-star{
    color: rgb(227, 227, 0);
}



main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4){
    background-color: #ffff;
    top: 356px;
    right: -22px;
    width: 300px;
    height: 170px;
    border-radius: 10px;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-left{
    width: 110px;
    height: 150px;
    left: 12px;
    border-radius: 12px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQombvU4QgdIHP-5vfbip1LVT6ZY5CBTkTZBA&s");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 3px solid #fff;
    transition: all 0.3s linear;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-left:hover{
    transform: scale(1.1);
}
/* ------------------------------------------------- */
/* main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-right .header{
    position: absolute;
} */


main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-right{
    padding: 0px 20px;

}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-right .wrapper{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    position: relative;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-right .wrapper .card{
    width: 70px;
    height: 100px;
    position: absolute;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 3px solid #fff;
    transition: all 0.3s linear;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-right .wrapper .card:nth-child(1){
    width: 70px;
    height: 100px;
    position: absolute;
    border-radius: 12px;
    background-image: url("https://i.pinimg.com/236x/b7/03/4b/b7034b745a22d22b0810dfb80cdcb846.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-right .wrapper .card:nth-child(2){
    left: 50px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCSQt6-tbhCqDOUSqkmF7_ACLSiKVVhpdp8g&s");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-right .wrapper .card:nth-child(3){
    left: 95px;
    background-image: url("https://c.stocksy.com/a/cGAN00/z9/5521014.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-right .wrapper .card:nth-child(1):hover{
    transform:scale(1.1);
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-right .wrapper .card:nth-child(2):hover{
    transform:scale(1.1);
}
main .hero-container .hero-content .image-content .image-content-wrapper .box:nth-child(4) .card-group .card-right .wrapper .card:nth-child(3):hover{
    transform:scale(1.1);
}










/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
main .hero-container .hero-content .text-content .text-content-wrapper h2{
    font-size: 3rem;
    font-weight: 800;
    color: #333;
}
main .hero-container .hero-content .text-content .text-content-wrapper h2::first-letter {
    font-size: 1.8em;
    color:#13b0df;
    font-weight: bold;
  }
main .hero-container .hero-content .text-content .text-content-wrapper .description{
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    margin-top: 25px;
}
main .hero-container .hero-content .text-content .text-content-wrapper .btn-group{
    margin-top: 20px;
}





main .hero-container .hero-content .text-content .text-content-wrapper .btn-group .btn-explore{
    margin-right: 30px;
    text-decoration: none;
    color: #fff;
    background-color: #13b0df;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}
main .hero-container .hero-content .text-content .text-content-wrapper .btn-group .btn-explore:hover{
    background-color: #13b0df;
    color: #fff;
}
main .hero-container .hero-content .text-content .text-content-wrapper .btn-group .btn-explore:focus{
    outline: 1px solid #13b0df;
}
main .hero-container .hero-content .text-content .text-content-wrapper .btn-group .btn-explore:visited{
    outline: 1px solid #08536a;
}

main .hero-container .hero-content .text-content .text-content-wrapper .btn-group .btn-play{
    margin-right: 30px;
    text-decoration: none;
    color:#13b0df;
    padding: 12px 16px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

}
main .hero-container .hero-content .text-content .text-content-wrapper .btn-group .btn-play:hover{
    border: 1px solid #08536a;

}
/* ------------------------------------------------------------------------------------------- */

/* Second section */


main .second-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main section .explore-section{
    display: flex;
    margin-top: 24px;
    width: 80%;
    height: 400px;

}
main section .explore-section .wrapper-left{
    height: 100%;
    width: 100%;
    padding: 20px 0px;
}
main section .explore-section .wrapper-left h2{
    font-size: 2.5rem;
}
main section .explore-section .wrapper-left .description{
    margin-top: 30px;
}
main section .explore-section .wrapper-left .btn-explore{
    margin-top: 24px;
    padding: 10px 20px;
    border: 1px solid #13b0df;
    color: #13b0df;
    background-color: transparent;
    border-radius: 10px;
}







main section .explore-section .wrapper-right{
    width: 100%;
    height: 100%;
}
main section .explore-section .wrapper-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
main section .explore-section .wrapper-right .box{
    width: 180px;
    height: 80%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 6px solid #fff;
    transition: all 0.3s linear;
}

main section .explore-section .wrapper-right .box:nth-child(1){
    left: 0px;
    top: 10px;
    position: absolute;
    border-radius: 10px;
    background-image: url("https://i.redd.it/68muyj5zid451.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main section .explore-section .wrapper-right .box:nth-child(1):hover{
    transform:scale(1.1);
}
main section .explore-section .wrapper-right .box:nth-child(2):hover{
    transform:scale(1.1);
}
main section .explore-section .wrapper-right .box:nth-child(3):hover{
    transform:scale(1.1);
}


main section .explore-section .wrapper-right .box:nth-child(2){
    left: 190px;
    top: 80px;
    position: absolute;
    border-radius: 10px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCf2xN7qP9mPD2Ow_lt-NaipjU_2Zw6x07Sw&s");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main section .explore-section .wrapper-right .box:nth-child(3){
    left: 390px;
    top: 50px;
    position: absolute;
    border-radius: 10px;
    background-image: url("https://i.pinimg.com/736x/e7/72/9f/e7729f2d5d3f75499d870d5e942bebc0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* third section  */

main .section-third .header{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .section-third .header h3{
    font-size: 2rem;
}
main .section-third .header p{
    margin-top: 16px;
    text-align: center;
}



main .section-third{
    margin-top: 30px;
}
main .section-third .content{
    display: flex;
    margin-top: 30px;
    padding: 0px 180px;
}
main .section-third .content .content-left{

}
main .section-third .content .content-left .card .mark{
    display: block;
    background-color: var(--primary-color);
    padding: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff;
    margin: 16px 0px;
}
main .section-third .content .content-left .card p{
    margin-top: 20px;
}


main .section-third .content .content-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
main .section-third .content .content-right .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section-third .content .content-right .wrapper .card{
    width: 420px;
    height: 600px;
    border-radius: 20px;
    background-image: url("https://kasthamandap.edu.np/storage/country/image-20230403003452.jpeg");
    position: relative;
}


main .section-third .content .content-right .wrapper .card .small-card{
    background-color: rgba(232, 232, 232, 0.842);
    border-radius: 12px;
    position: absolute;
    padding: 10px;
}
main .section-third .content .content-right .wrapper .card .small-card:nth-child(1){
    left: -40px;
    top: 50px;
}
main .section-third .content .content-right .wrapper .card .small-card:nth-child(2){
    right: -40px;
    top: 150px;
}

main .section-third .content .content-right .wrapper .card .small-card:nth-child(3){
    left: -40px;
    bottom: 60px;
}







main .section-third .content .content-right .wrapper .card .small-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
main .section-third .content .content-right .wrapper .card .small-card .left-card .profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
main .section-third .content .content-right .wrapper .card .small-card:nth-child(1) .left-card .profile{
    background-image: url("https://static.vecteezy.com/system/resources/previews/029/129/240/non_2x/shinchan-cute-free-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
main .section-third .content .content-right .wrapper .card .small-card:nth-child(2) .left-card .profile{
    background-image: url("https://www.lmching.com/cdn/shop/files/crayon-shin-chan-3d-mouse-pad-classic-1pc-lmching-group-limited-1.jpg?v=1687786761&width=600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
main .section-third .content .content-right .wrapper .card .small-card:nth-child(3) .left-card .profile{
    background-image: url("https://miro.medium.com/v2/resize:fit:720/0*I32LiwMMYY16sPAB.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



main .section-third .content .content-right .wrapper .card .small-card .right-card .heart{
    color: var(--primary-color);
    margin-top: 5px;
}


/* --------------------------------------------------------------------------------------------------------- */

footer{
    background-color: rgb(215, 215, 215);
    padding: 20px 0px;
    margin-top: 30px;
    color: #333;
}
footer p{
    text-align: center;
}